      /*asignacion de estilos estilos de bordes
        solid: con línea continua (valor por defecto)
        dotted: línea punteada-->
        dashed: línea discontinua (segmentos cortos de línea)
        inset: línea con el color en bajorelieve
        outset: línea que simula el relieve*/
h1{
    color: #ff7300;    
}
img{
    
    width: 400px; 
      
}
#thirdDiv{
    margin: 0 auto;
    height: 600px;
    width: 500px;
    background-color: lightcoral;
    padding: 50px;
    border: 10px inset purple;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    margin: 50px;
    padding: 20px;
    border: 10px dotted #eca625;
    background-color: #80c3f0;
    text-align: center;

}
body {
    background-image: url("https://fondosmil.com/fondo/17026.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  